@charset "utf-8";
body{
  background-color:#fffff0;
}
.title{
  font-size:clamp(18px,10vw,100px);
  color:#333333;
  letter-spacing:0.3rem;
  width:max-content;
  margin:auto;
}
.text{
  text-align:left;
  font-size:clamp(12px,4vw,30px);
  color:#333333;
}
.button-style{
  display:block;
  font-size:clamp(14px,5vw,32px);
  letter-spacing:0.1rem;
  background-color:white;
  color:#333333;
  border-radius:0.5vw;
  border:0.3vw solid black;
  margin:6vh auto 0 auto;
}
.line-1, .line-2{
  display:flex;
}
.img{
  width:45%;
  margin: 0 2.5% 0 2.5%;
}
.text ,.button-style ,.sharex-btn{
  font-family:sans-serif;
}
.reverse{
  display: inline-flex;  
  flex-direction: row-reverse; 
  align-items: center;    
  gap: 0px;
  margin: 0 auto;              
}
.sharex-btn{
  background-color:#000100;
  border-radius:0.5vw;
  border:0.1vw solid #000100;
  font-size:clamp(14px,2vw,25px);
  margin:2vh 3vw 2vh 0;
}
.restart-btn{
  background-color:white;
  color:#333333;
  border-radius:0.5vw;
  border:0.3vw solid #333333;
  font-size:clamp(14px,2vw,25px);
  margin:2vh 3vw 2vh 0;
}
.resultparent{
  display:flex;
  justify-content:space-between;
}
.result{
  text-decoration:underline;
  text-align:center;
}
.restart-btn ,.sharex-btn ,.button-style ,.title:hover{
  cursor:pointer;
}