@charset "utf-8";
body{
  background-color:#fffff0;
}
.title{
  text-align:center;
  font-size:clamp(18px,10vw,100px);
  color:#333333;
  letter-spacing:0.3rem;
}
.text{
  text-align:left;
  font-size:clamp(12px,4vw,30px);
  color:#333333;
}
.button-style{
  display:block;
  font-size:clamp(14px,5vw,32px);
  letter-spacing:0.1rem;
  background-color:white;
  color:#333333;
  border-radius:0.5vw;
  border:0.3vw solid black;
  margin:6vh auto 0 auto;
}
.line-1, .line-2{
  display:flex;
}
.imgitem{
  width:45%;
  margin: 0 2.5% 0 2.5%;
}
.title ,.text ,.button-style{
  font-family:sans-serif;
}
.reverse{
  display: inline-flex;  
  flex-direction: row-reverse; 
  align-items: center;    
  gap: 0px;
  margin: 0 auto;              
}
.red{
  color:#F89E85;
}
.yellow{
  color:#FFE292;
}
.blue{
  color:#BFE5F1;
}
.green{
  color:#DBE77F;
}